#chatappcontainer #recipientchatapp,
#chatappcontainer #messagechatapp,
#chatappcontainer #usernamechatapp {
	width: 23.5%;
	margin: 2px;
	border: 1px solid black;
	border-radius: 3px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	color: black;
}

#chatappcontainer #sendchatapp {
	margin: 2px;
	border: 1px solid black;
	border-radius: 3px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	color: black;
}

#chatappcontainer #sendchatapp:hover {
	background-color: #cecece;
}

#chatappcontainer {
	position: fixed;
	bottom: 10vh;
	right: 10px;
	width: 350px;
	height: 250px;
	border: 1px solid #333;
	margin: 0;
	border-radius: 10px;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	color: black;
	z-index: 999999;
	transition: 0.1s ease-out;
	scale: 0.9;
	font-family: "Inter", sans-serif;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
}

#chatappcontainer #chatItem {
	background-color: rgba(0, 0, 0, 0.055);
	border-radius: 3px;
	padding: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	word-wrap: break-word;
	border: 1px solid rgba(0, 0, 0, 0.295);
}

#chatappcontainer #messageschatapp {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
}

#chatappcontainer .chatappmessage {
	max-width: 95%;
	margin-bottom: 10px;
	padding: 10px 15px;
	border-radius: 20px;
	font-size: 14px;
	line-height: 1.5;
	word-wrap: break-word;
}

#chatappcontainer .sent {
	align-self: flex-end;
	background-color: #f3f3ff;
	border-bottom-right-radius: 0;
	border: 1px solid #0000ff;
	margin-right: 5px;
}

#chatappcontainer .received {
	align-self: flex-start;
	background-color: #effff9;
	border-bottom-left-radius: 0;
	border: 1px solid #00ff9d;
}

#chatappcontainer .message p {
	margin: 0;
}


#messageschatapp::-webkit-scrollbar {
	width: 7px;
}

#messageschatapp::-webkit-scrollbar-track {
	background-color: #ebebeb;
}

#messageschatapp::-webkit-scrollbar-thumb {
	background: #cfcfcf;
	border-radius: 10px;
}

#messageschatapp::-webkit-scrollbar-thumb:hover {
	background: #b1b1b1;
}

#openchatapp {
	position: fixed;
	top: 90vh;
	right: 0px;
	min-width: 30px;
	max-width: 80px;
	height: 60px;
	border: 1px solid #33333391;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.801);
	color: rgb(0, 0, 0);
	z-index: 9999999;
	border-top-left-radius: clamp(10px, 50%, 30px);
	border-bottom-left-radius: clamp(10px, 50%, 30px);
	overflow: hidden;
	transition: 0.1s ease;
	font-family: "Inter", sans-serif;
	font-weight: 700px;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
}

#openchatapp:hover {
	filter: brightness(0.9);
}

#chatappcontainer #inputs {
	position: fixed;
	left: 0px;
	display: flex;
	justify-content: start;
	width: 120%;
	padding: 5px;
	bottom: 0px;
}
